@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";
//PAGE
.landing_fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.landing {
  background-image: url(../../assets/clouds.jpg);
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: repeat;
  background-attachment: fixed;
}
//make button text a little bit bigger
.btn {
  text-align: center;
  font-size: 1.1em;
  position: absolute;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
}

img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}
