<div *ngIf="isActive" class="componentView">
  <div class="chat_container">
    <div  class="message_container">
      <ul>
        <ng-container *ngFor="let message of chatMessages">
          <li *ngIf="message.user === userCred.token" class="sent">
            <img class="profilepic" src="assets/user_image.svg" alt="" />
            <p>{{ message.message }}</p>
          </li>
          <li *ngIf="message.user !== userCred.token" class="replies">
            <img class="profilepic" src="assets/app_icon.png" alt="" />
            <ng-container *ngIf="message.type === 'text'">
              <p>{{ message.message }}</p>
            </ng-container>
            <ng-container *ngIf="message.type === 'card'">
              <div class="messageBlock">
                <p *ngIf="message.message.title">{{ message.message.title }}</p>
                <p *ngIf="message.message.subtitle">{{ message.message.subtitle }}</p>
                <img class="imagemessage" src="{{ rewriteHttpToHttps(message.message.imageUri) }}" />
                <ng-container
                  *ngIf="
                    message.message.imageUri && message.message.imageUri.includes('https://reboting.com/services/image')
                  "
                >
                  <a
                    href="http://www.facebook.com/sharer.php?u={{ getShareUrl(message.message.imageUri) }}"
                    target="_blank"
                  >
                    <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                  </a>
                  <a
                    href="http://reddit.com/submit?url={{ getShareUrl(message.message.imageUri) }}&amp;title=Highscore!"
                    target="_blank"
                  >
                    <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
                  </a>
                  <a
                    href="https://twitter.com/share?url={{
                      getShareUrl(message.message.imageUri)
                    }}&amp;text=Highscore!&amp;hashtags=reboting"
                    target="_blank"
                  >
                    <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                  </a>
                </ng-container>
                <a
                  *ngFor="let messageButton of message.message.buttons"
                  target="_blank"
                  href="{{ messageButton.postback }}"
                  class="linkmessage"
                >
                  {{ messageButton.text }}
                </a>
              </div>
            </ng-container>
            <ng-container *ngIf="message.type === 'image'">
              <img class="imagemessage" src="{{ rewriteHttpToHttps(message.message.imageUri) }}" atl="" />
            </ng-container>
          </li>
        </ng-container>
        <li #chatEnd></li>
      </ul>

      <div class="quickreply_list">
        <button
          *ngIf="configModel.userprofile"
          class="btn btn-info"
          type="button"
          style="display: inline;margin:3px;"
          (click)="logout()"
        >
          Logout
        </button>
        <button
          *ngFor="let reply of quickreplies"
          class="btn btn-info"
          type="button"
          style="display: inline;margin:3px;"
          [disabled]="inputDisabled"
          type="button"
          (click)="onQuickReply(reply)"
        >
          {{ reply }}
        </button>
      </div>
    </div>

    <div class="botfooter" novalidate>
      <!--
      <div  class="quickreply_list">

      </div>
      -->
      <div class="input_container">
        <div class="input-group input-group-lg chat_input">
          <input
            class="form-control"
            type="text"
            style="height:44px"
            name="'chatMessage'"
            placeholder="Chat with Reboting"
            (keyup.enter)="queryBot()"
            autocomplete="off"
            [(ngModel)]="chatMessage"
          />
          <!--- Buttons for
          [disabled]="inputDisabled"
              record
              show / hide quick replies
              user profile
          -->

          <button
            style="max-width:50px"
            *ngIf="!configModel.autorecord && configModel.recordsupported"
            class="btn btn-success form-control"
            type="checkbox"
            name="autoRecord"
            [(ngModel)]="configModel.recording"
            title="Record Input"
            [disabled]="inputDisabled"
            (click)="onClickRecord()"
            ngDefaultControl
            btnCheckbox
          >
            <i class="fa fa-microphone" aria-hidden="true"></i>
          </button>
          <button
            style="max-width:50px"
            class="btn btn-success form-control"
            name="userProfile"
            type="button"
            title="User"
            (click)="toggleProfile()"
            ngDefaultControl
          >
            <i class="fa fa-user" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
