<div class="componentView" *ngIf="entityDetails && isActive">
  <!-- Search Header -->
  <div class="row" style="background-color:rgba(0, 0, 0, 0.5);margin:auto;color:white;max-width:800px">

  <h2 style="padding:5px;margin-right:10px;margin-bottom:0px">{{entityDetails.label}}</h2>
  <button
    class="btn btn-success form-control"
    style="height:48px;width:100px"
    name="add"
    type="button"
    title="Add"
    (click)="toggleComponent('add')"
    ngDefaultControl
  >
    <i class="fa fa-plus" aria-hidden="true"></i>
    Add
  </button>

  <searchfield style="margin-right:0px;margin-left:auto" (searchResultClicked)="detailsForEntity($event)"></searchfield>
  </div>
  <!-- adding to compare -->
  <div class="row" style="background-color:rgba(0, 0, 0, 0.5);margin:auto;color:white;max-width:800px">
    <div class="row" style="margin:auto">

    </div>


  </div>
  <!-- Dashboard cards -->
  <div class="cardcontainer">
    <div class="card" *ngFor="let claim of entityDetails.claims">
      <claimtypeselector [claim]="claim" [language]="language" [entity]="entityDetails"></claimtypeselector>
    </div>
  </div>
  <!-- alternatives -->

</div>
