<div *ngIf="isActive" class="componentView" style="color:white">
  <div class="login_center">
    <div class="middle_center">
      <div>
        <h1>Reboting</h1>
        <h3>
          <a href="/chat"><i class="fa fa-comments" aria-hidden="true"></i> Chat</a>
        </h3>
        Play endless quizzes<br />
        Type <b>"quiz"</b><br />
        Answer general knowledge questions <br />
        Type f.e <b>"Who is albert einstein?"</b><br />
        Get news from over 40 countries (powered by Google news) and 7 different categories<br />
        Type f.e <b>"Whats new in austria about science?"</b><br />
        <br />
        <h3>
          <a href="/stream"><i class="fa fa-stream" aria-hidden="true"></i> Stream</a>
        </h3>
        Get the pulse of the internet. Warning no warranty for content shown! Up or Downvote content to change the stream
        <br />
        <br />
        <h3>
          <a href="/compare"><i class="fa fa-search" aria-hidden="true"></i> Compare</a>
        </h3>
        Analyze and compare over 70 million things (not finished)
      </div>
    </div>
  </div>
</div>
