<div  *ngIf="isActive" class="componentView" style="color:white">
  <div class="login_center">
    <div class="middle_center">
      <div >
        <h1 >Reboting - cause we can</h1>
        <br>
        <h3>Chat</h3>
        Play endless quizzes<br>
        Type <b>"quiz"</b><br>
      <br>
        Answer general knowledge questions <br>
        Type f.e <b>"Who is albert einstein?"</b><br>
      <br>
        Get news from over 40 countries (powered by Google news) and 7 different categories<br>
        Type f.e <b>"Whats new in austria about science?"</b><br>
<br>
        <h3>Compare</h3>        
        Analyze and compare over 70 million things
        <br
      </div>
    </div>
  </div>


</div>
