<div *ngIf="isActive" class="componentView" style="color:white">
  <div class="login_center">
    <div class="middle_center">
      <div>
        <h1>Reboting</h1>
        <h3>
          <a style="color:white" href="/stream"><i class="fa fa-stream" aria-hidden="true"></i> Stream</a>
        </h3>
        Get the pulse of the internet. Warning no warranty for content shown! Up or Downvote content to change the
        stream (powered by Google news)
        <br />
        <br />
        <h3>
          <a style="color:white" href="/chat"><i class="fa fa-comments" aria-hidden="true"></i> Chat</a>
        </h3>
        Play endless quizzes<br />
        Type <b>"quiz"</b><br />
        Answer general knowledge questions <br />
        Type f.e <b>"Who is albert einstein?"</b><br />
        <br />
        <h3>
          <a style="color:white" href="/search"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
        </h3>
        Work in progress not finsihed
      </div>
    </div>
  </div>
</div>
