/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
.btn-success {
  background-color: transparent;
  border-color: transparent;
  color: black;
  &:hover {
    background-color: white !important;
    color: black !important;
  }
  &.active {
    background-color: white !important;
    color: black !important;
  }
}

body {
  font-family: '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"';
}
