<div class="componentView" *ngIf="isActive">
  <div class="cardcontainer">
    <div
      class="flex column"
      *ngFor="let item of streamItems; let index = index"
    >
    <div [ngClass]="{ new: index < 1 && fade===false }" class="flex column card" >
      <div class="flex">
        <img *ngIf="item.imageUrl" style="width:100%" src="{{item.imageUrl}}" />
      </div>
      <div class="flex">
        <h2>{{ item.label }}</h2>
      </div>
      <div class="flex">

        <a href="https://reddit.com{{ item.sourceData.data.permalink }}" target="_blank">
          Reddit
        </a>
        <a *ngIf="item.url!== item.sourceData.data.permalink" href="{{ item.url }}" target="_blank">
          Source
        </a>
        {{ index+1 }} / {{ streamItems.length }}
        <span>{{item.created_at | date:'hh:mm:ss'}}</span>
      </div>

    </div>
  </div>
  </div>
</div>
