<div class="componentView" *ngIf="isActive">
  <div class="cardcontainer">
    <div
      class="flex column fullwidth"
      [ngClass]="{ downvoted: item.rating == 0, upvoted: item.rating == 1 }"
      *ngFor="let item of streamItems; let index = index"
    >
      <!-- [ngClass]="{ new : index < 1 && fade === false }" -->
      <div class="flex column card">
        <a href="https://reddit.com{{ item.sourceData.data.permalink }}" target="_blank" class="flex column">
          <div class="card-header">
            {{ item.label }}
          </div>
          <div class="flex" *ngIf="item.display.displayType === 'image'">
            <img
              *ngIf="item.display.displayUrl"
              class="card-img-top"
              style="width:100%;max-height:85vh"
              src="{{ item.display.displayUrl }}"
            />
          </div>

          <div class="flex column" *ngIf="item.display.displayType === 'imgur'">
            <img style="width:100%;max-height:85vh" src="{{ item.display.displayUrl }}" />
          </div>
        </a>
        <div class="flex" *ngIf="item.display.displayType === 'youtube' || item.display.displayType === 'gfycat'">
          <iframe width="100%" frameBorder="0" height="540px" [src]="item.display.displayUrl | safe"></iframe>
        </div>

        <div class="card-footer">
          <div class="flex" style="line-height:2.3em">
            <a href="https://reddit.com{{ item.sourceData.data.permalink }}" target="_blank">
              Reddit
            </a>
            <a *ngIf="item.url !== item.sourceData.data.permalink" href="{{ item.url }}" target="_blank">
              Source
            </a>
            <!--{{ index + 1 }} / {{ streamItems.length }}-->

            <b>{{ item.sourceData.data.subreddit }}</b>

            <span>{{ item.created_at | date: 'hh:mm:ss' }}</span>
            <!-- rating buttons -->
            <button
              style="width: 40px;right:45px;position:absolute"
              class="btn btn-success form-control"
              name="down"
              type="button"
              title="Dislike"
              (click)="rate(0, item)"
              ngDefaultControl
            >
              <i [ngClass]="{ downvotedIcon: item.rating == 0 }" class="fa fa-thumbs-down" aria-hidden="true"></i>
            </button>
            <button
              style="width: 40px;right:0;position:absolute"
              class="btn btn-success form-control"
              name="up"
              type="button"
              title="Like"
              (click)="rate(1, item)"
              ngDefaultControl
            >
              <i [ngClass]="{ upvotedIcon: item.rating == 1 }" class="fa fa-thumbs-up" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
