<div class="componentView" *ngIf="isActive">
  <div class="cardcontainer">
    <div class="flex column fullwidth" *ngFor="let item of streamItems; let index = index">
      <div [ngClass]="{ new: index < 1 && fade === false }" class="flex column card">
        <div class="flex" *ngIf="item.display.displayType === 'youtube' || item.display.displayType === 'gfycat'">
          <iframe width="100%" frameBorder="0" height="540px" [src]="item.display.displayUrl | safe"></iframe>
        </div>
        <a href="https://reddit.com{{ item.sourceData.data.permalink }}" target="_blank" class="flex column">
          <div class="flex" *ngIf="item.display.displayType === 'image'">
            <img *ngIf="item.display.displayUrl" style="width:100%" src="{{ item.display.displayUrl }}" />
          </div>
          <div class="flex column" *ngIf="item.display.displayType === 'imgur'">
            <img style="width:100%" src="{{ item.display.displayUrl }}" />
          </div>
          <div class="flex">
            <h2>{{ item.label }}</h2>
          </div>
        </a>

        <div class="flex">
          <a href="https://reddit.com{{ item.sourceData.data.permalink }}" target="_blank">
            Reddit
          </a>
          <a *ngIf="item.url !== item.sourceData.data.permalink" href="{{ item.url }}" target="_blank">
            Source
          </a>
          <!--{{ index + 1 }} / {{ streamItems.length }}-->

          <b>{{ item.sourceData.data.subreddit }}</b>

          <span>{{ item.created_at | date: 'hh:mm:ss' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
