@import "src/theme/theme-variables";

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.menu {
  position: absolute;
  bottom: 55px;
  right: 0px;
  z-index: 2;
  width: 120px;
  background-color: rgb(5,3,36);
}

.mainpage {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 50%;
  width: 100%;
  right: 0;
  background-color: theme-color("background");
  //background-color: red;
  //background-image: url(../../assets/galaxy.jpg);
  //background-size: cover;
  //background-position: 50% 50%;
  //background-repeat: repeat;
  //background-attachment: fixed;
}
