<div class="mainpage">
  <div class="menu flex column" style="background-color: white" *ngIf="menuActive">
    <button
      [ngClass]="{ active: activeComponentConfig.name === 'chat' }"
      class="btn btn-success form-control"
      name="chat"
      type="button"
      title="Chat"
      (click)="toggleComponent('chat')"
      ngDefaultControl
    >
      <i class="fa fa-comments" aria-hidden="true"></i> Chat
    </button>
    <button
      [ngClass]="{ active: activeComponentConfig.name === 'search' }"
      class="btn btn-success form-control"
      name="compare"
      type="button"
      title="Compare"
      (click)="toggleComponent('search')"
      ngDefaultControl
    >
      <i class="fa fa-search" aria-hidden="true"></i> Compare
    </button>
    <button
      [ngClass]="{ active: activeComponentConfig.name === 'stream' }"
      class="btn btn-success form-control"
      name="compare"
      type="button"
      title="Stream"
      (click)="toggleComponent('stream')"
      ngDefaultControl
    >
      <i class="fa fa-stream" aria-hidden="true"></i> Stream
    </button>
    <button
      [ngClass]="{ active: activeComponentConfig.name === '' }"
      class="btn btn-success form-control"
      name="chat"
      type="button"
      title="Info"
      (click)="toggleComponent('')"
      ngDefaultControl
    >
      <i class="fa fa-info" aria-hidden="true"></i> Info
    </button>
  </div>
  <div class="footer">
    <div class="flex center">
      <!-- toggle menu -->
      <!--
      <button
        style="width:55px;height:55px"
        [ngClass]="{ active: menuActive }"
        class="btn btn-success form-control"
        name="menu"
        type="button"
        title="menu"
        (click)="toggleMenu()"
        ngDefaultControl
      >
        <img style="height:55px;width:55px;position:absolute;top:0;left:0" src="assets/app_icon.png" alt="reboting" />
      </button>
      -->
    </div>
  </div>

  <!-- active project -->
  <chat [activeComponentConfig]="activeComponentConfig"></chat>
  <search [activeComponentConfig]="activeComponentConfig"></search>
  <entity [activeComponentConfig]="activeComponentConfig"></entity>
  <highscore [activeComponentConfig]="activeComponentConfig"></highscore>
  <home [activeComponentConfig]="activeComponentConfig"></home>
  <stream [activeComponentConfig]="activeComponentConfig"></stream>
</div>
